@tailwind base;

@tailwind components;

@tailwind utilities;

a {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-white;
}
::-webkit-scrollbar-thumb {
  @apply bg-primaryColor;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logoSize {
  font-size: 42px;
}

.btn {
  @apply rounded-md bg-secondaryColor px-4 py-2 text-white  transition duration-200 ease-linear hover:bg-primaryColor;
}
.btnFile {
  @apply file:mr-2 file:cursor-pointer file:rounded-md file:border-0 file:bg-secondaryColor file:px-4 file:py-2 file:text-white file:transition  file:duration-200 file:ease-linear hover:file:bg-primaryColor;
}
.btnForm {
  @apply rounded-md rounded-s-none bg-secondaryColor px-3 py-2 text-white  transition duration-200 ease-linear hover:bg-primaryColor;
}

.mainH {
  height: calc(100vh - 127px);
}

.hamburger-react {
  z-index: 11;
  @apply sm:hidden;
}

.footerIcons {
  @apply h-6 w-6 object-cover;
}

.positionHeart {
  top: calc(50% - 80px);
  left: calc(50% - 80px);
}

.positonLoader {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
}

.positionModal {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% - 144px);
}

@keyframes pulseHeart {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.pulseHeart {
  animation: pulseHeart 0.8s linear;
  animation-iteration-count: 1;
}

.imgStyle {
  @apply mx-auto block h-72 w-72 cursor-pointer rounded-xl border-4 border-primaryColor bg-skeleton object-cover shadow-md;
}
